<h1>Note #<%= @note.id %></h1>

<div>
  <strong>Student</strong>:<br />
  <p><%= @note.student_id %></p>
</div>
<div>
  <strong>Contents</strong>:<br />
  <p><%= @note.contents %></p>
</div>

<a href="/notes/<%= @note.id %>/edit">Edit</a> |
<a href="/notes/<%= @note.id %>/destroy">Destroy</a>
