<h1>New Submission</h1>

<form action="/create_submission">
  <div>
    <label for="student_id">student</label><br />
    <select id="student_id" name="student_id">
      <% Student.all.each do |student| %>
      <option value="<%= student.id %>"><%= student.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <h2><%= @quiz.name %></h2>
    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= @quiz.id %>" type="text" />
  </div>
  <div>
    <p>1. <%= @quiz.question_1 %></p>
    <label><input name="answer_1" type="radio" value="1" /><%= @quiz.q1_option_1 %></label><br>
    <label><input name="answer_1" type="radio" value="2" /><%= @quiz.q1_option_2 %></label><br>
    <label><input name="answer_1" type="radio" value="3" /><%= @quiz.q1_option_3 %></label><br>
  </div>
  <div>
    <p>2. <%= @quiz.question_2 %></p>
    <label><input name="answer_2" type="radio" value="1" /><%= @quiz.q2_option_1 %></label><br>
    <label><input name="answer_2" type="radio" value="2" /><%= @quiz.q2_option_2 %></label><br>
    <label><input name="answer_2" type="radio" value="3" /><%= @quiz.q2_option_3 %></label><br>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

